/* src/LibraryPage.css */

.library-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner-section {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.banner-container {
  margin: auto;
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  border-radius: 10%;
  padding: 30px;
}

.banner-container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.library-info {
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

.library-info h1 {
  color: #ec5858;
}
.library-info h2 {
  color: #ec5858;
}
.library-info p {
  color: #3e4aec;
}

.resources ul {
  list-style-type: none;
  padding: 0;
  color: green;
}

.resources li {
  margin: 10px 0;
}
